@media screen and (max-width: 450px) {
    .sc-sidebar {
        width: 100vw;
        height: auto;
        /* background: fixed lightgrey; */
        /* float: left; */
        /* border: 1px solid grey; */
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 451px){
    .sc-sidebar {
        width: 15%;
        height: 100vh;
        /* background: fixed lightgrey; */
        float: left;
        /* border: 1px solid grey; */
        padding-bottom: 10px;
    }     
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
}

.sc-mode-selector {
    margin: 5px;
    padding: 2px 25px 2px 2px;
    border: 3px solid grey;
    border-radius: 5px;
    
    overflow: hidden;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'><path fill-rule='evenodd' d='M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z'></path></svg>") 96% / 20% no-repeat #EEE
}

.sc-mode-btn {
    border: 1px solid black;
    border-radius: 5px;
}

.sc-wrapper {
    overflow: hidden;
    height:100vh;
    background: lightgrey;
}


.sc-container-rows {
    max-height: 220px;
    overflow: hidden;
    background: lightgrey;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.sc-row {
    height: 50px;
    padding: 2px;
    display: -webkit-box;
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    justify-content: center;    
}

.sc-container-calculation {
    background: lightgrey;
    overflow: hidden;
    height: 100px;
    padding: 7px;
}

.sc-calculation {
    background: lightgrey;
    float: left;
    margin-right: 10px;
    border: 1px solid black;
}

.sc-scores {
    background: white;
}