.sc-score {
    background: white;
    float: left;
    padding: 0;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 20%);

    /* center safari/chrome */
    display: -webkit-box;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    justify-content: center;
	-webkit-align-items: center;
	align-items: center;

    border: 4px solid black;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    height: 30px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin: 5px;
}

.sc-score-red {
    border-color: red;
    color: red;
}

.sc-score-yellow {
    border-color: rgb(255,223,76);
    color: rgb(255,223,76);
}

.sc-score-green {
    border-color: rgb(0,150,0);
    color: rgb(0,150,0);
}

.sc-score-blue {
    border-color: rgb(0,0,150);
    color: rgb(0,0,150);
}

.sc-score-grey {
    border-color: grey;
    color: grey;
}

.sc-score-highlight {
    border-color: black;
    border-width: 5px;
    height: 29px;
    width: 39px;
}
.sc-score-total {
    border-color: white;
    background: rgb(150,150,150);
    color: white;
    width: 80px;
    margin-left: 30px;
}