@media screen and (max-width: 450px) {
    .sc-sidebar {
        width: 100vw;
        height: auto;
        /* background: fixed lightgrey; */
        /* float: left; */
        /* border: 1px solid grey; */
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 451px){
    .sc-sidebar {
        width: 15%;
        height: 100vh;
        /* background: fixed lightgrey; */
        float: left;
        /* border: 1px solid grey; */
        padding-bottom: 10px;
    }     
}

.sc-wrapper {
    overflow: hidden;
    height:100vh;
    background: lightgrey;
}


.sc-container-rows {
    max-height: 220px;
    overflow: hidden;
    background: lightgrey;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.sc-row {
    height: 50px;
    padding: 2px;
    display: -webkit-box;
    display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    justify-content: center;    
}

.sc-container-calculation {
    background: lightgrey;
    overflow: hidden;
    height: 100px;
    padding: 7px;
}

.sc-calculation {
    background: lightgrey;
    float: left;
    margin-right: 10px;
    border: 1px solid black;
}

.sc-scores {
    background: white;
}